<header>
    <nav>
        <ul>
            <li><a href="/proveActivities/prove02">Home</a></li>
            <li><a href="/proveActivities/prove02/books">Add Book</a></li>
        </ul>
    </nav>
</header>