@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 3.5rem;
    background-color: lightskyblue;
    padding: 0 1.5rem;
}

main {
    padding: 1rem;
    margin: auto;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 1rem;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: gray;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card-title,
.card-summary {
    padding: 5px;
}

.card-title h2 {
    text-align: center;
}

.card-title h2,
.card-summary p {
    margin: 0;
}

.card-summary p {
    padding: 5px;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 45%;
    margin-bottom: 0.25rem;
}

.form-control textarea {
    height: 200px;
}

.form-control input {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: skyblue;
}

.btn {
    font: inherit;
    border: 1px solid skyblue;
    color: skyblue;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: skyblue;
    color: white;
}