<!DOCTYPE html>
<html>

<head>
    <% include ./header.ejs %>
</head>

<body>
    <% include ./nav.ejs %>
    <div class="pokemon container">
        <h1>Pokemon:</h1>
        <ul id="pokeList" class="">
        </ul>
        <div class="actions_container">
            <!-- If you want to include your listeners inline... -->
            <!-- <button id="prevBtn" onclick="populatePrev()">Previous</button>
        <button id="nextBtn" onclick="populateNext()">Next</button> -->
            <!-- WIth listeners set from script... -->
            <button id="prevBtn">Previous</button>
            <button id="nextBtn">Next</button>
        </div>
    </div>
    <!--NOTE: Declare script here.
    Entire HTML page should be allowed to load
    before executing javascript.-->
    <script src="/prove/prove09/prove09.js"></script>
</body>

</html>